In [30]:
import os
import requests
import pandas as pd
import alpaca_trade_api as tradeapi

%matplotlib inline

In [31]:
from dotenv import load_dotenv
load_dotenv()

True

In [32]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version = "v2"
)

In [33]:
# Set timeframe to "1Day"
timeframe = "1Day"

# Set start and end datetimes (5 years)
start_date = pd.Timestamp("2017-11-17", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2022-11-01", tz="America/New_York").isoformat()

# Set the ticker information
tickers = ["TSLA","SPY","XEL","AAPL","ESGU"]

# Get 4 year's worth of historical price data
# HINT: Set "limit" to at least 10000 so all ticker rows are captured from get_bars()
df_ticker = api.get_bars(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

# Display sample data
df_ticker.head()

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2017-11-17 05:00:00+00:00,171.04,171.39,169.6400,170.15,21900015,130140,170.393943,AAPL
2017-11-20 05:00:00+00:00,170.29,170.56,169.5600,169.98,16262789,95572,170.000606,AAPL
2017-11-21 05:00:00+00:00,170.78,173.70,170.7800,173.14,25131295,137407,172.945834,AAPL
2017-11-22 05:00:00+00:00,173.36,175.00,173.0500,174.96,25589080,130437,174.322524,AAPL
2017-11-24 05:00:00+00:00,175.10,175.50,174.6459,174.97,14446088,64847,175.096149,AAPL

In [34]:
# drop 'symbol' column
TSLA = df_ticker[df_ticker['symbol']=='TSLA'].drop('symbol', axis = 1)
SPY = df_ticker[df_ticker['symbol']=='SPY'].drop('symbol', axis = 1)
XEL = df_ticker[df_ticker['symbol']=='XEL'].drop('symbol', axis = 1)
AAPL = df_ticker[df_ticker['symbol']=='AAPL'].drop('symbol', axis = 1)
ESGU = df_ticker[df_ticker['symbol']=='ESGU'].drop('symbol', axis = 1)

In [35]:
# concat ticker columns together
df_ticker = pd.concat([TSLA, SPY, XEL, AAPL, ESGU],axis=1, keys=['TSLA','SPY','XEL','AAPL','ESGU'])
df_ticker.tail()

                              TSLA                                      \
                              open      high     low   close    volume
timestamp
2022-10-26 04:00:00+00:00  219.400  230.6000  218.20  224.64  85275380
2022-10-27 04:00:00+00:00  229.770  233.8100  222.85  225.09  61644674
2022-10-28 04:00:00+00:00  225.400  228.8600  216.35  228.52  69040080
2022-10-31 04:00:00+00:00  226.195  229.8500  221.94  227.54  61560070
2022-11-01 04:00:00+00:00  234.050  237.3951  227.28  227.82  62689105

                                                      SPY                  \
                          trade_count        vwap    open    high     low
timestamp
2022-10-26 04:00:00+00:00      921830  226.572058  381.62  387.58  381.35
2022-10-27 04:00:00+00:00      740945  226.138713  383.07  385.00  379.33
2022-10-28 04:00:00+00:00      793069  224.185539  379.87  389.52  379.68
2022-10-31 04:00:00+00:00      717792  226.621743  386.44  388.40  385.26
2022-11-01 04:00:00+00:00      701489  230.789246  390.14  390.39  383.29

                           ...       AAPL                           ESGU  \
                           ...     volume trade_count        vwap   open
timestamp                  ...
2022-10-26 04:00:00+00:00  ...   88834489      693414  150.040815  84.73
2022-10-27 04:00:00+00:00  ...  109198287      944054  145.311760  85.07
2022-10-28 04:00:00+00:00  ...  164513407     1226015  154.587167  84.27
2022-10-31 04:00:00+00:00  ...   97925458      726580  153.279315  85.68
2022-11-01 04:00:00+00:00  ...   80379345      650595  150.980742  86.57

                                                                       \
                              high    low  close   volume trade_count
timestamp
2022-10-26 04:00:00+00:00  86.1300  84.59  84.85  1521839       10038
2022-10-27 04:00:00+00:00  85.5600  84.26  84.43  1514914        8738
2022-10-28 04:00:00+00:00  86.4689  84.27  86.35   977578        6713
2022-10-31 04:00:00+00:00  86.2800  85.57  85.75  2183872        6309
2022-11-01 04:00:00+00:00  86.7037  85.18  85.42  2321629        5964


                                vwap
timestamp
2022-10-26 04:00:00+00:00  85.356688
2022-10-27 04:00:00+00:00  84.797542
2022-10-28 04:00:00+00:00  85.836537
2022-10-31 04:00:00+00:00  85.899832
2022-11-01 04:00:00+00:00  85.870217

[5 rows x 35 columns]

In [36]:
# close price only
df_close = pd.DataFrame()
df_close["TSLA"] = df_ticker["TSLA"]["close"]
df_close["SPY"] = df_ticker["SPY"]["close"]
df_close["XEL"] = df_ticker["XEL"]["close"]
df_close["AAPL"] = df_ticker["AAPL"]["close"]
df_close["ESGU"] = df_ticker["ESGU"]["close"]
df_close

                             TSLA     SPY    XEL    AAPL    ESGU
timestamp
2017-11-17 05:00:00+00:00  315.05  257.87  50.89  170.15  56.509
2017-11-20 05:00:00+00:00  308.74  258.28  50.59  169.98  56.550
2017-11-21 05:00:00+00:00  317.81  259.93  50.61  173.14  56.900
2017-11-22 05:00:00+00:00  312.60  259.79  50.53  174.96  56.890
2017-11-24 05:00:00+00:00  315.55  260.37  50.71  174.97  57.000
...                           ...     ...    ...     ...     ...
2022-10-26 04:00:00+00:00  224.64  382.02  62.57  149.35  84.850
2022-10-27 04:00:00+00:00  225.09  379.98  63.25  144.80  84.430
2022-10-28 04:00:00+00:00  228.52  389.02  65.37  155.74  86.350
2022-10-31 04:00:00+00:00  227.54  386.21  65.11  153.34  85.750
2022-11-01 04:00:00+00:00  227.82  384.52  65.90  150.65  85.420

[1247 rows x 5 columns]

In [47]:
from fredapi import Fred

In [52]:
load_dotenv()
fred_api_key = os.getenv("fred_api_key")

In [53]:
fred = Fred(fred_api_key)
data = fred.get_series('DGS10')
data

1962-01-02    4.06
1962-01-03    4.03
1962-01-04    3.99
1962-01-05    4.02
1962-01-08    4.03
              ...
2022-11-03    4.14
2022-11-04    4.17
2022-11-07    4.22
2022-11-08    4.14
2022-11-09    4.12
Length: 15877, dtype: float64

In [56]:
data_ref =data.loc['2017-11-17':'2022-11-01'].dropna()
data_ref

2017-11-17    2.35
2017-11-20    2.37
2017-11-21    2.36
2017-11-22    2.32
2017-11-24    2.34
              ...
2022-10-26    4.04
2022-10-27    3.96
2022-10-28    4.02
2022-10-31    4.10
2022-11-01    4.07
Length: 1239, dtype: float64